nav {
    position: fixed;
    z-index: 99;

    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 28px;

    .links {
        .link {
            margin: 0 16px;
            color: var(--color-text);
            text-decoration: none;

            font-family: 'Major Mono Display', Arial, Helvetica, sans-serif;

            &:hover {
                filter: var(--filter-brightness-low);
            }
        }
    }
}